# Requied to load shim libs
allow init cameraserver:process { noatsecure };
allow init hal_camera:process { noatsecure };
allow init mm-qcamerad:process { noatsecure };
